.footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    max-width: 100%;
  }
  
  .img_footer {
    display: flex; /* Faz com que os itens fiquem em linha */
    justify-content: center;
    margin-top: 20px; /* Espaçamento acima das imagens */
  }
  
  .img_footer a {
       margin: 0 5px; /* Espaçamento entre as imagens */
  }
  
  .img_footer img {
    display: flex;
    width: 30px; /* Largura das imagens */
    height: auto; /* Altura automática para manter a proporção */
  }